

<div class="project-card">
  <div class="image-wrapper">
    <img src="{{ project.data.image }}" alt="{{ project.data.imageAlt }}">
  </div>
  <div class="card-body">

    <h3 class="title">
      <a href="{{ project.url }}">{{ project.data.title }}</a>
    </h3>
  </div>
</div>
